@model IEnumerable<LaboratorioDeSoftware.Core.Entities.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Cadastro" class="btn btn-primary">Adicionar um Produto</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Marca Fabricante</th>
            <th>Modelo</th>
            <th>Observações</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.MarcaFabricante)</td>
                <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
                <td>@Html.DisplayFor(modelItem => item.Observacoes)</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Deletar" asp-route-id="@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
